{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'Cars.css' %}">
<title >About Us</title>
<body id="Class-Center">
    <nav>
        <a href="http://127.0.0.1:8000/">Home</a>
        <a href="http://127.0.0.1:8000/About">About</a>
        <a href="http://127.0.0.1:8000/Contact">Contact Us</a>
        <a href="https://Sobhan-Shahnavaz.ir" target="_blank">Personal Website</a>
        <div class="animation start-home"></div>
    </nav>
<div class="about-section">
    <h1>About Us</h1>
    <p>This is a university project by Sobhan Shahnavaz. 
        The purpose of this project is the Special topics in programming subject.</p>
        <p> This project is designed for Dr. Masoud Dadgar,
            Professor of Technical and Vocational Faculty of Shahid Bahonar, Shiraz, Iran
             </p>

  </div>
</body>
