{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'Cars.css' %}">
<title >Contact Us</title>
<body id="about-body">
    <nav>
        <a href="http://127.0.0.1:8000/">Home</a>
        <a href="http://127.0.0.1:8000/About">About</a>
        <a href="http://127.0.0.1:8000/Contact">Contact Us</a>
        <a href="https://Sobhan-Shahnavaz.ir" target="_blank">Personal Website</a>
        <div class="animation start-home"></div>
    </nav>
<div class="about-section">
    <h1>Contact Us</h1>
    <p>Email : Sobi.sh81@gmail.com</p>
    <p>Email : SobhanShahnavazOfficial@gmail.com</p>
    <p>Telegram : @SobhanShahnavaz</p>
    <p><a href="https://Sobhan-Shahnavaz.ir"> Personal website </a></p>
    <p><a href="https://ponisha.ir/profile/sobhanshahnavaz">Ponisha</a></p>
    
  </div>
</body>
